@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

.main-container {
   background-color: white;
   height: 300px;
   width: 300px;
}

.title-container {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #042940;
   padding: 15px;
}

.title {
   font-family: "Roboto", "sans-serif";
   font-size: 25px;
   font-weight: 400;
   color: white;
   margin-right: 10px;
}

.icon {
   width: 30px;
}

.menu-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   gap: 20px;
}

.btn1 {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 8px;
   background-color: #042940;
   padding: 15px 8px;
   width: 250px;
   border-radius: 10px;
   font-family: "Roboto", "sans-serif";
   font-size: 18px;
   color: white;
   text-align: center;
   transition: all;
   transition-duration: 400ms;
}

.btn1:hover {
   cursor: pointer;
   background-color: #005c53;
}

/* ****************** SAVE SCRREN ******* */

.save-screen {
   background-color: rgba(57, 57, 57, 0.966);
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;
   display: none;
}

.save-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 5px;
   font-family: "Roboto", "sans-serif";
   font-size: 15px;
   color: white;
}

.input1 {
   border: none;
   outline: none;
   padding-left: 6px;
   font-size: 15px;
   padding: 5px;
   height: 30px;
}

.input1:focus {
   border: none;
   outline: none;
}

.save-buttons-container {
   display: flex;
   flex-direction: row;
   gap: 15px;
}

.btn2 {
   background-color: #212121;
   border-radius: 10px;
   padding: 10px;
   width: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Roboto", "sans-serif";
   color: white;
   font-size: 15px;
   cursor: pointer;
}

/************ SESSION SCREEN ******** */

.sessions-screen {
   display: none;
   flex-direction: column;
   height: 100%;
}

.title2 {
   font-family: "roboto", "sans-serif";
   text-align: center;
   font-weight: 400;
   font-size: 20px;
}
.sessions-screen-title {
   margin-bottom: 10px;
}

.sessions-list-container {
   height: 100%;
   /* background-color: #393939; */
   background-color: white;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 2px;
}

.session-item {
   display: flex;
   flex-direction: column;
   background-color: #042940;
}

.session-item-title-container {
   display: flex;
   padding: 18px;
   position: relative;
}

.title3 {
   font-family: "roboto", "sans-serif";
   text-align: center;
   font-weight: bold;
   font-size: 16px;
   color: white;
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.session-item-options {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: #042940;
   display: none;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.option {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   color: white;
   transition: all;
   transition-duration: 400ms;
}

.option:hover {
   color: lawngreen;
}

.option_title {
   font-family: "roboto", "sans-serif";
   font-weight: 300;
   font-size: 15px;
}

.url-list {
   display: none;
   flex-direction: column;
   background-color: #e3e3e3;
   gap: 5px;
   /* background-color: #212121; */
}

.url_item {
   font-family: "Roboto", "sans-serif";
   font-size: 18px;
   color: gray;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   cursor: pointer;
}
